h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

.red {
    color :red;
        font-weight: bold;
}

.green {
    color: green;
        font-weight: bold;
}

.grey {
    color: grey;
        font-weight: bold;
}

.tabRow
{
    text-align:center;
    vertical-align:middle;
}