<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{index.page.title}">Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div>
            <h1 class="text-center">#Banking</h1>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')" style="padding:5px">
            <a href="/user/makePayment" class="btn btn-primary btn-lg btn-block" role="button"
               aria-pressed="true">New payment</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" style="padding:5px">
            <a href="viewPayments" class="btn btn-success btn-lg btn-block" role="button"
               aria-pressed="true">Payments</a>
        </div>
    </div>
</div>
</body>
</html>