<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <h1>New payment</h1>

                <form th:action="@{/user/makePayment}" th:object="${payment}" method="post">

                    <p class="alert alert-danger"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <div class="form-group">
                        <label for="senderAccount" class="control-label">Sender account:</label>
                        <input id="senderAccount" disabled="true"
                               class="form-control" th:value="${senderAccount}"/>
                    </div>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('accountNumber')}? 'has-error':''">
                        <label for="accountNumber" class="control-label">Account number</label>
                        <input id="accountNumber"
                               class="form-control"
                               th:field="*{accountNumber}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('accountNumber')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('amount')}? 'has-error':''">
                        <label for="amount" class="control-label">Amount</label>
                        <input id="amount"
                               class="form-control"
                               th:field="*{amount}"/>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('amount')}"
                           th:value = "${#numbers.formatDecimal(amount, 0, 'DEFAULT', 2, 'DEFAULT')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Proceed</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>