<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="#{index.page.title}"></title>
    <script src="/js/paginator.js"></script>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">

        <div>
            <h1 class="text-center">Payments</h1>
        </div>

        <div th:if="${not #lists.isEmpty(messages)}">
            <div class="alert alert-info"
                 th:each="message : ${messages}"
                 th:if="${message.messageType.name() == 'INFO'}">
                <p th:text="${message.message}"></p>
            </div>
            <div class="alert alert-danger"
                 th:each="message : ${messages}"
                 th:if="${message.messageType.name() == 'ERR'}">
                <p th:text="${message.message}"></p>
            </div>
        </div>

        <div style="width:30%">
            <form th:action="@{/viewPayments}" method="get">
                <table class="table datatable">
                    <tr>
                        <td styleClass="tabRow">Select payment status:</td>
                        <td styleClass="tabRow">
                            <select name="statusId" id="statusId" >
                                <option th:text="All"
                                        th:value="${null}"
                                        th:selected="${statusId} == ''"> -- </option>
                                <option th:each="status : ${statuses}"
                                        th:text="${status.statusText}"
                                        th:value="${status.statusId}"
                                        th:selected="${status.statusId} == ${statusId}"></option>
                            </select>
                        </td>
                        <td styleClass="tabRow">
                            <input type="hidden" name="pageSize" th:value="${selectedPageSize}" />
                            <input class="btn btn-primary btn-sm" type="submit" value="Filter"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="row">
            <table class="table datatable">
                <thead>
                <tr>
                    <th>Sender bank account</th>
                    <th>Receiver bank account</th>
                    <th>Amount</th>
                    <th>Created time</th>
                    <th>Processed time</th>
                    <th>Payment status</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment : ${paymentList}">
                    <td th:text="${payment.payerBankAccount.accountNumber}">Text ...</td>
                    <td th:text="${payment.payeeBankAccount.accountNumber}">Text ...</td>
                    <td style="text-align: right" th:text="${payment.amount}">Text ...</td>
                    <td th:text="${#dates.format(payment.created, 'dd.MM.yyyy hh:mm:ss')}">Text ...</td>
                    <td th:text="${#dates.format(payment.processed, 'dd.MM.yyyy hh:mm:ss')}">Text ...</td>
                    <td th:text="${payment.paymentStatus.statusText}"
                        th:class="${payment.paymentStatus.statusId == 1} ? 'green' : (${payment.paymentStatus.statusId == 2} ? 'red' : '')">Text ...</td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <form method="POST" th:action="@{/approvePayment}" style=" display:inline!important;">
                                <input type="hidden" name="paymentId" th:value="${payment.paymentId}" />
                                <input type="hidden" name="pageSize" th:value="${selectedPageSize}" />
                                <input type="hidden" name="statusId" th:value="${statusId}" />
                                <button type="submit" th:disabled="${payment.paymentStatus.statusId != 0}"
                                        class="btn btn-primary btn-condensed">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                            </form>
                            <form method="POST" th:action="@{/declinePayment}" style=" display:inline!important;">
                                <input type="hidden" name="paymentId" th:value="${payment.paymentId}" />
                                <input type="hidden" name="pageSize" th:value="${selectedPageSize}" />
                                <input type="hidden" name="statusId" th:value="${statusId}" />
                                <button type="submit" th:disabled="${payment.paymentStatus.statusId != 0}"
                                        class="btn btn-primary btn-condensed">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                                th:value="${pageSize}"
                                th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${paymentList.totalPages > 0}"
                     class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${paymentList.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{/viewPayments(pageSize=${selectedPageSize}, page=1, statusId=${statusId})}">«</a>
                        </li>
                        <li th:class="${paymentList.number == 0} ? disabled"><a
                                class="pageLink"
                                th:href="@{/viewPayments(pageSize=${selectedPageSize}, page=${paymentList.number}, statusId=${statusId})}">←</a>
                        </li>
                        <li
                                th:class="${paymentList.number == (page - 1)} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                               th:href="@{/viewPayments(pageSize=${selectedPageSize}, page=${page}, statusId=${statusId})}"
                               th:text="${page}"></a>
                        </li>
                        <li
                                th:class="${paymentList.number + 1 == paymentList.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/viewPayments(pageSize=${selectedPageSize}, page=${paymentList.number + 2}, statusId=${statusId})}">→</a>
                        </li>
                        <li
                                th:class="${paymentList.number + 1 == paymentList.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/viewPayments(pageSize=${selectedPageSize}, page=${paymentList.totalPages}, statusId=${statusId})}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/paginator.js"></script>
</body>
</html>